/* Selector Universal */
*{
    padding: 0;
    margin: 0;
   
   }
   
   /* Selector de etiqueta*/
   body{
       background-color: #ffffff;
       color: white;
   
   }
   
   /* Selector de clase*/
   .texto{
       text-align: justify;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       font-size: 20px;
       padding: 5px 25px;
       color: #000000;
   }
   .img-encabezado{
        width: 1260px;
        margin-inline: -20%;
        margin-top: 1%;
   }
   .img{
       width: 195px;
       height: 195px;
       border-radius: 1px;
       margin-left: 5px;

   }
   .encabezado-articulo {
    padding: 5px,5px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 1em 2em;
    font-size: 40px;
    border-radius: 3px;
   }

.encabezado-aside {

    padding: 10px 10px;
    text-align: center;
    color: #020202;
    margin: 1em 2em;
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25;
}
.lista-aside li{
display: flex;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
padding: 0 2px;
list-style: square;
color: #000;
}

/* Selecctor ID */
#contenedor{
    width: 1300px;
    height: 1000px;
    background-color: #a8f888;
    max-width: 0 auto;
    border-radius: 5px;
 }

#encabezado {
    height: 15%;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
    padding: 0 50px;
}

#menu {
    height: 5%;
    background-color: #57a738;
    margin: 1em;
    border-radius: 5px;
}

#contenido {
    height: 75%;
    width: 76%;
    background-color: #629e4a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion{

    height: 75%;
    width: 20%;  
    background-color: #8ba14e;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {

    height: 10%;
    background-color: #3f5c1b;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    }

#pie h4 {
    padding: 15px;
    font-size: 30px;
}
/*selector de etiqueta*/
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
li a:hover {
    color: crimson;
    text-decoration: none;
    list-style: none;
}